---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


<ol>
<h1>一、Online Seminar</h1>  
  <li> Christiano, Lawrence J., Roberto Motto, and Massimo Rostagno. "Risk shocks." American Economic Review 104, no. 1 (2014): 27-65. 2022年11月13日CEMA DSGE组会和东周宏观组会，Slides can be downloaded in <a href="files/Risk Shocks ppt20221113.pdf">here</a></li>
  <li> <b>高崧耀</b>、崔百胜（通讯作者）：<a href="https://kns.cnki.net/kcms/detail/detail.aspx?dbcode=CJFD&dbname=CJFDAUTO&filename=GJJR202207002&v=Mjg5MDFyQ1VSN2lmYitSdUZDbmtVcnpNSWlmQmZMRzRITlBNcUk5RlpvUjhlWDFMdXhZUzdEaDFUM3FUcldNMUY=">《零利率下限约束下中国混合型货币政策规则宏观调控效应》</a> ，<b>《国际金融研究》</b>，2022年第7期。 <a href="https://mp.weixin.qq.com/s/IYz7zNg8FeYC7e7xCt8jag">[微信推文] </a>，该文被中国人民大学《国际货币评论》2022年第9期转发。</li>
</ol>
