---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


<ol>
<h1>一、Online Seminar</h1>  
  <li> Christiano, Lawrence J., Roberto Motto, and Massimo Rostagno. "Risk shocks." American Economic Review 104, no. 1 (2014): 27-65., Slides can be downloaded in <a href="files/Risk Shocks ppt20221113.pdf">here</a></li>
<li> Luk, Paul, and Tianxiao Zheng. "Dynamics of secured and unsecured debt over the business cycle." Review of Economic Dynamics 44 (2022): 284-314., Slides can be downloaded in <a href="files/Luk&Zheng2022.pdf">here</a></li> 
</ol>
